<div style="text-align: center;">
    <div style="display: inline-block;">
        <h1>Success! Pikach-you did some edits!</h1>
            <img src="//vignette3.wikia.nocookie.net/youtubepoop/images/4/4c/Pokeball.png/revision/latest?cb=20150418234807" style="width: 200px; height:auto; padding-top: 220px; padding-bottom: 220px;">
            <img src="//dl.dropboxusercontent.com/s/udn6szolsebtsyw/Gotta-Hack-Them-All.jpg" style="width: 360px; height:auto;">
            <img src="//vignette3.wikia.nocookie.net/youtubepoop/images/4/4c/Pokeball.png/revision/latest?cb=20150418234807" style="width: 200px; height:auto; padding-top: 220px; padding-bottom: 220px;">
            <p style="color: 03D10C;">GoDaddy TechFest Hackathon 2016</p>
    </div>
</div>