<div class="container">
    <div class="page-header">
        <h2>Page Data</h2>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>Available Versions</h4>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-success pull-right">
                Add a Version
            </button>
            <table style="width:100%">
                <tr>
                    <th>Version</th>
                    <th>Published</th>
                    <th>Publisher Name</th>
                    <th>Date Published</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Yes</td>
                    <td>Alek Mitrevski</td>
                    <td>7/19//2016</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>No</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
            </table>

            <button type="button" class="btn btn-success pull-right">
                Publish Version
            </button>
            <button type="button" class="btn btn-success pull-right">
                Activate Version
            </button>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>Localized URL</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="col-md-4" for="local-url">Localized URL: </label>
                    <input type="text" id="local-url" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>Generic Page Data</h4>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="col-md-2" for="title">Title: </label>
                        <input type="text" id="title" class="form-control">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="col-md-6" for="subtitle">Subtitle: </label>
                        <input type="text" id="subtitle" class="form-control">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="col-md-6" for="banner">Banner: </label>
                        <input type="text" id="banner" class="form-control">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="col-md-6" for="image">Image: </label>
                        <input type="text" id="image" class="form-control">
                    </div>
                </div>
                <button class="btn btn-success pull-right">Next</button>
            </div>
        </div>
    </div>
</div>