<div class="container">
    <div class="page-header">
        <h2>Select a Page</h2>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>Available Pages</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-2 pull-right">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Page ID">
                        </div>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="English Path">
                        </div>
                    </div>
                    <div class="pull-right">
                        Filter by:
                    </div>
                </div>

                <div class="col-md-12">
                    <ul>
                        <li><a href="/marketpages?pageId=website-builder">Website Builder</a></li>
                        <li><a href="/marketpages?pageId=web-hosting">Web Hosting</a></li>
                    </ul>
                </div>

                <button type="button" class="btn btn-success">
                    Add a Page
                </button>
                <button class="btn btn-success pull-right">Next</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

    })
</script>