@model MarketPagesModel

<div class="container">
    <div class="page-header">
        <h2>Select a Market</h2>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>Available Markets</h4>
        </div>
        <div class="panel-body">
            <table style="width:100%">
            @{
                foreach(var marketPage in Model.MarketPages)
                {
                <tr>
                    <td><a href="/pagedata?pageId=@marketPage.PageId&market=@marketPage.Market">@marketPage.Market</a><td>
                </tr>
                }
            }
                
            </table>
            <button class="btn btn-success pull-right">Next</button>
        </div>
    </div>
</div>