@model web_editor_seo.Models.ApplicationsModel

<div class="container">
    <div class="page-header">
        <h2>Select an Application</h2>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>Available Applications</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-6">
                    <form>
                    @{
                        foreach(var application in Model.Applications)
                        {
                            <input type="radio" name="@application.Name" value="@application.Name"> @application.Name <br>
                        }
                    }
                    </form>
                </div>
            </div>
                <button class="btn btn-success pull-right">Next</button>
        </div>
    </div>
</div>