<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../wwwroot/css/bootstrap.min.css"></link>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h2>Select a Page</h2>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>Available Pages</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-2 pull-right">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Page ID">
                            </div>
                        </div>
                        <div class="col-sm-2 pull-right">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="English Path">
                            </div>
                        </div>
                        <div class="pull-right">
                            Filter by:
                        </div>
                    </div>

                    <div class="col-md-12">
                        <form action="">
                            <input type="radio" name="gender" value="male"> Website Builder 1<br>
                            <input type="radio" name="gender" value="female"> Website Builder 2<br>
                        </form>
                    </div>

                    <button type="button" class="btn btn-success">
                                Add a Page
                            </button>
                    <button class="btn btn-success pull-right" onclick="location.href = 'MockupMarketPage.cshtml'">Next</button>
                </div>
            </div>
        </div>
    </div>
</body>