<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../wwwroot/css/bootstrap.min.css"></link>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h2>Select an Application</h2>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>Available Applications</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <form action="">
                            <input type="radio" name="gender" value="male"> GoDaddy<br>
                            <input type="radio" name="gender" value="female"> Website Builder<br>
                        </form>
                    </div>
                </div>
                <button class="btn btn-success pull-right" onclick="location.href = 'MockupPagePage.cshtml'">Next</button>
            </div>
        </div>
    </div>
</body>